#image-utils-modal > a {
  z-index: -1;
}

#image-utils-modal {
  overflow: unset !important;
  margin: auto;
}

.imageUtils-modal {
  box-shadow: none !important;
  justify-content: center;
  align-items: center;
  border-radius: 0;
  background: transparent !important;
  border: none !important;
  bottom: 0;
  display: grid;
  gap: 12px;
  grid-template-columns: 40px 184px 1fr 184px 40px;
  grid-template-rows: 40px 1fr 40px;
  left: 0;
  margin: 36px 24px;
  position: absolute;
  right: 0;
  top: 0;
}

@media (max-width: 485px) {
  .imageUtils-modal {
    display: relative;
    overflow: visible;
    overflow: initial;
  }
}
